body {
  color: rgba(10, 10, 10, 0.9);
  background-color: rgba(230, 230, 230, 0.7);
  font-family: 'Noto Sans', sans-serif;
  font-size: 15px;
  line-height: 23px;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 30px;
  color: #206a5d;
  line-height: 60px;
  letter-spacing: 1px;
}

h2 {
  font-family: 'Lobster', cursive;
  font-size: 25px;
  font-weight: 100;
  color: #8fb877;
  line-height: 30px;
  letter-spacing: 1px;
}

h3 {
  font-family: 'Lobster', cursive;
  font-size: 27px;
  font-weight: 100;
  color: #8fb877;
  line-height: 30px;
  letter-spacing: 1px;
}

a {
  color: #8fb877;
}

a:hover {
  color: #8fb877;
  text-decoration: underline;
}

.card {
  background-color:  rgba(255, 255, 255, 0.9);
  padding: 30px;
  margin: 20px auto;
  width: 400px;
  text-align: center;
  border-radius: 4px;
  box-shadow: 5px 5px 30px rgba(0,0,0,.1); ;
}

#img-circle {
  width: 200px;
  border-radius: 150px;
}

.btn-green {
  background-color: #206a5d;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  font-weight: 500;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.text-padding {
  padding-bottom: 20px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
